.container {
  padding: 1em;
}

.title {
  text-transform: uppercase;
  color: #f86600;
  font-family: 'Passion One';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  margin-top: 8px;
}
