.container {
  padding: 1em;
}

.title {
  text-transform: uppercase;
  text-decoration: none;
  color: #f86600;
  font-family: 'Passion One';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  margin-top: 10px;
  max-width: 300px;
  line-height: 1.5em;
}
