.thmb {
  display: block;
  padding: 0 8px;
  background-image: url('../../assets/images/asteroid.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.thmb_small {
  width: 24px;
  height: 24px;
}

.thmb_big {
  width: 36px;
  height: 40px;
}

