.container {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #232526;
  padding: 1em;

  @media (min-width: 1025px) {
    display: block;
    top: 110px;
    right: 111px;
    left: auto;
    bottom: auto;
    width: auto;
    height: auto;
    border-radius: 24px;
    .btn {
      margin-top: 2em;
      
    }
  }
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
  background: #f86600;
  color: #ffffff;
  font-weight: 700;
  &:disabled {
    background-color: rgba(248, 102, 0, 0.15);
    color: #cccccc;
    cursor: auto;
  }
}
