.container {
	position: fixed;
	box-sizing: border-box;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #232526;
	padding: 1em;
	margin-left: -1.5em;

	@media (min-width: 1025px) {
    display: block;
		position: fixed;
		top: 110px;
		right: 111px;
		bottom: auto;
		width: auto;
		height: auto;
		border-radius: 24px;
		.btn {
			margin-top: 2em;
		}
  }
}

.btn {
	padding: 8px 16px;
	border: none;
	border-radius: 40px;
	background: #F86600;
	color: #FFFFFF;
	font-weight: 700;
}